---
import Container from '@components/container.astro';
import Layout from '../layouts/Layout.astro';
import Producto from '@components/Producto.astro';
import Reparto from '@components/Reparto.astro';
import Almacenaje from '@components/Almacenaje.astro';
import Faq from '@components/Faq.astro';

---

<Layout title="Ruiz Logistics SL | Servicios">
	<Container>
		<div class="grid md:grid-cols-3 gap-7 mx-auto max-w-4xl mt-16">
			<div>
				<Almacenaje />
			</div>
			<div>
				<Producto />
			</div>
			<div>
				<Reparto />
			</div>
		</div>
		<div class="py-8">
			<Faq />
		</div>
	</Container>
</Layout>

<style>
	background-color:#ffffff;
</style>
