---
import {CountUp} from "../components/CountUp";
---

<div class="grid md:grid-cols-3 gap-7 mx-auto max-w-4xl mt-16">
<div>
  <p class="text-center text-orange-500">
    <span>
      <CountUp client:visible initial={0} final={1250000}/>
    </span>
  </p>
  <p class="text-center ">Paquetes repartidos</p>
</div>
<div>
  <p class="text-center text-orange-500">
    <span>
      <CountUp client:visible initial={0} final={350000}/>
    </span>
  </p>
  <p class="text-center">Pedidos gestionados</p>
</div>
<div>
  <p class="text-center text-orange-500 dark:">
    <span>
      <CountUp client:visible initial={0} final={15300}/>
    </span>
  </p>
  <p class="text-center">Clientes Satisfechos</p>
</div>

</div>